{% extends "base.html" %}
{% block title %}Enter Email To Reset Password{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Set a New Password</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
        </div>
{% endblock %}
 